body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.black-button{
  background-color: #000000 !important;
}
.yellow-button{
  background-color: #F3BE26 !important;
  color: #000000 !important;
}
.rufous-button{
  background-color: #AD1B02 !important;
}
.tawny-button{
  background-color: #D85604 !important;
}
.beer-button{
  background-color: #E88D14 !important;
}


.swal-button:not([disabled]):hover {
  background-color: #ff8126 !important;
}

.swal-button {
  background-color:  #ff8126 !important;
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 12px 33px;
  margin: 0;
  cursor: pointer;
}
.swal-footer {
  text-align: right;
  padding-top: 13px;
  margin-top: 13px;
  padding: 13px 16px;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex !important;
  justify-content: center !important;
}


.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #ff8126;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
