body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.black-button{
  background-color: #000000 !important;
}
.yellow-button{
  background-color: #F3BE26 !important;
  color: #000000 !important;
}
.rufous-button{
  background-color: #AD1B02 !important;
}
.tawny-button{
  background-color: #D85604 !important;
}
.beer-button{
  background-color: #E88D14 !important;
}
